
.menu {
    color: blanchedalmond;
    /* width: 350px; */
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background : linear-gradient(50deg, #021980f8, black);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

    transition: .4s ease-in-out;
 
}

#menu-ctn { 
    width: 100%;
    height: 100%;
    padding: 5rem 6% 5rem 4%; 

    transition: all 1s ease-in-out;
} 

.menu-header {
    display: none;
    border: 0;
    border-bottom: 2px dotted whitesmoke;
    margin-bottom: 1em;
}
.note {
    color: #ffffff62;
    font-size: .8em;
    transition: all 1s ease-in-out;
}
.standort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}
.standort:hover {
    opacity: .6;
}

#menu-error-msg {
    width: 100%;
    height: auto;
    color: #eb1111;
}

#menu-weather-logo-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#menu-weather-logo-div span {
    font-size: .8em;
}

#cityName {
    font-size: 1.5em;
    color: #0077ff;
    font-weight: bold;
}
#input-storage {
    height: 2rem;
    width: max-content;
/* 
    border-top-width: 0 ;
    border-left-width: 0 ;
    border-right-width: 0 ; 
    border-bottom: 3px solid white ; */
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: #f3f3f362;
}
#btn-storage {
    color: whitesmoke;
    background-color: rgba(255, 255, 255, 0.13);
    border: 0;
    padding: .9em;
    margin-left: 1em;
}

#menu-getinput { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 

    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-left: 2px solid #0077ff;
} 

#standort-verwalten {

    display: none;
    border-width: 0;
    color: whitesmoke;
    background-color: #00000062;
    margin-top: 1em;
    width: 100%;
    padding: .3rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px .2px whitesmoke;
    
    cursor: pointer;
}
#standort-verwalten:hover {
    opacity: .6;
}







